{% load static %}
<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>用户状态</title>
	<link rel="stylesheet" type="text/css" href="{%static "/bootstrap/css/bootstrap.min.css"%}"
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/normalize.css"%}" />
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/default.css"%}"/>
	<link rel="stylesheet" type="text/css" href="{%static "/index/fonts/font-awesome-4.3.0/css/font-awesome.min.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/style1.css" %}" />
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/>
	<script src="{%static "/index/js/jquery.min.js" %}"></script>

	<script src="{%static "/index/js/modernizr.custom.js" %}"></script>
</head>
<body >
	<div class="warning" id="warning">
		{%for warning in warnings%}				 
				<button type="button" class="btn btn-warning" style="width:100%;font-size:20px;">
				<img src="{%static "/index/img/Alert.png"%}" width="30px" height="30px"/>
				{{warning.name}} 正在移动 </button>
				
		{%endfor%}
	</div>
	<div id="theGrid" class="indexmain">
			<section class="grid" id="grid">
			</section>
	</div>		
	<script type="text/javascript">
		window.setInterval(function(){
			var warning_div=document.getElementById("warning")
			warning_div.innerHTML="";
			var grid_section=document.getElementById("grid");
			grid_section.innerHTML="";
			var url="/ajax/";
			$.ajaxSetup({async:true});
			$.getJSON(url,function(json){
				for(var key in json){
					var room=json[key][0];
					var state=json[key][1];

					var grid__item=document.createElement("a");
					grid__item.className="grid__item";
					grid_section.appendChild(grid__item);

					var gird_title=document.createElement("h2");
					gird_title.className="title title--preview";
					gird_title.innerHTML=key;
					grid__item.appendChild(gird_title)

					var grid_meta=document.createElement("div");
					grid_meta.className="meta meta--preview";
					grid__item.appendChild(grid_meta);

					var grid_meta_state=document.createElement("span")
					grid_meta_state.className="meta__state";
					grid_meta.appendChild(grid_meta_state);

					var icon1=document.createElement("i");
					icon1.className="fa fa-calendar-o";
					grid_meta_state.appendChild(icon1);
					grid_meta_state.innerHTML="状态"+room;
					
					grid_meta.appendChild(document.createElement("br"))

					var grid_meta_postion=document.createElement("span")
					grid_meta_state.className="meta__postion";
					grid_meta.appendChild(grid_meta_postion);

					var icon2=document.createElement("i");
					icon1.className="fa fa-location-arrow";
					grid_meta_postion.appendChild(icon2);
					grid_meta_postion.innerHTML="位置"+room;

				}
			});
		},3000);
	</script>
</body>
</html>