{% load static %}
<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>用户状态</title>
	<link rel="stylesheet" type="text/css" href="{%static "/bootstrap/css/bootstrap.min.css"%}" />
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/normalize.css"%}" />
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/default.css"%}"/>
	<link rel="stylesheet" type="text/css" href="{%static "/index/fonts/font-awesome-4.3.0/css/font-awesome.min.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{%static "/index/css/style1.css" %}" />
    <link rel="stylesheet" type="text/css" href="{%static "/bootstrap/css/toastr.min.css"%}"/>
	<link rel="stylesheet" type="text/css" href="{%static "/bootstrap/css/bootstrap-switch.min.css"%}"/>
	<!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'/> -->
	<script src="{%static "/index/js/jquery.min.js" %}"></script>
	<script src="{%static "/bootstrap/js/bootstrap.min.js" %}"></script>
	<script src="{%static "/index/js/modernizr.custom.js" %}"></script>
	<script src="{%static "/bootstrap/js/toastr.min.js"%}"></script>
	<script src="{%static "/bootstrap/js/bootstrap-switch.min.js"%}"></script>
	
</head>
<body>
	<div class="row" style="height:100%;">
		<div class="col-md-4 " style="height:100%">
			<div class="panel panel-danger panel__style ">
				<div class="panel-heading">
					<h3 style="font-weight:bold">异常情况</h3>
				</div>
				<div class="panel-body" >
				{%for warning in warnings%}	
					{% ifnotequal warning.type 4%}
					<div class="panel panel-danger">
						<div class="panel-heading">
						<!-- <img src="{%static "/index/img/Alert.png"%}" width="30px" height="30px"/> -->
							<h4 class="head__style">
								{{warning.location}}房间的{{warning.name}}老人可能发生离床行为 
							</h4>
						</div>
					</div>	
					{%else%}
					<div class="panel panel-warning">
						<div class="panel-heading" >
							<h4 class="head__style">
							检测不到{{warning.name}}老人的传感器，可能在{{warning.location}}房间附近
							</h4>
						</div>
					</div>			
					{%endifnotequal%}
				{%endfor%}
			</div>
		</div>
	</div>

	<div class="col-md-8" style="height:100%">
	<div id="theGrid" class="panel panel-info panel__style" style="margin-left:-30px;" >
		<div class="panel-heading">
			<h3 style="font-weight:bold">老人当前状态</h3>
		</div>
		<div class="panel-body" style="margin-top:-10px">
			{%for state in states%}
				<div class="panel panel-info person__item" id="{{state.person.ble_mac}}">	
					<div class="panel-heading">			
						<h4 class="head__style">{{state.person.name}}</h4>
					</div>
					{%if state.move_flag == 0%}
					<div class="panel-body">
					{%elif state.move_flag == 4%}
					<div class="panel-body bg-warning">
					{%else%}
					<div class="panel-body bg-danger">
					{%endif%}
						<!-- <img class="meta__avatar" src="{%static "/index/img/authors/1.png"%}" alt="author01" />  -->
						<!-- <span class="meta__state" > -->
							<h4 class="head__style">
							{%if state.move_flag == 0%}
								预测状态：静止
							{%elif state.move_flag == 4%}
								预测状态：传感器断连
							{%else%}
								预测状态：离床
							{%endif%}
							</h4>
						<!-- </span> -->
							<hr>
						<!-- <span class="meta__position"> -->
							<h4 class="head__style">
							位置：{{state.rpi.location}}房间
							</h4>
						<!-- </span> -->
						<hr>						
						<div align="right">
								{%if state.person.ignore%}
								<input type="checkbox" name="my-checkbox" unchecked id="{{state.person.ble_mac}}">
								{%else%}
								<input type="checkbox" name="my-checkbox" checked id="{{state.person.ble_mac}}">
								{%endif%}
						</div>
					</div>
				</div>
			{%endfor%}
		</div>
	</div>
	</div>	
	</div>
	
	{%if warnings%}
	<script>
		toastr.options.positionClass='toast-top-full-width';
		toastr.error("存在异常情况，请及时检查!");
	</script>
	{%endif%}

	<script type="text/javascript">
		$(function () {  
         $("[name='my-checkbox']").bootstrapSwitch({  
                onText:'监控',  
                offText:'忽略',  
        	 });  
		});

		$('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {  
			  console.log(state); // true | false  
			  console.log(this.id);
			  var postData={
				  'id':this.id,
				  'status':state,
			  };
			$.ajax({
                url: '/change_status/',
                type: 'POST',
                data: postData,
                dataType: 'JSON',
				success:function (arg) {
                    
                }
            });
    	});  



        var url="/ajax/";
        $.ajaxSetup({async:true});
		window.setInterval(function(){
            $.getJSON(url,function(json){

            });
		},1000);
	</script> 
</body>
</html>